table {
    text-align: center;
    margin-block: 30px;
}

table th,
table td {
    padding: 12px 15px;
    border: 2px solid var(--bright);
}

table th {
    background-color: var(--strong);
    color: var(--bright);
}

table td:hover {
    border: 2px solid var(--strong);
}

.aprovado {
    background-color: var(--green);
    font-weight: bold;
}

.reprovado {
    background-color: var(--red);
    font-weight: bold;
}

.matriculado {
    background-color: var(--blue);
    font-weight: bold;
}

.equivalencia {
    background-color: var(--yellow);
    font-weight: bold;
}

.outro {
    text-decoration: underline;
    font-weight: bold;
}
