table {
    text-align: center;
    margin-block: 30px;
}

table th,
table td {
    padding: 12px 15px;
    border: 2px solid var(--bright);
}

table th {
    background-color: var(--strong);
    color: var(--bright);
}

.td_clicavel {
    color: black;
}
.td_clicavel:hover {
    border: 2px solid var(--strong);
}
