body {
    position: relative;
}

.popup {
    /*Hides pop-up when there is no "active" class*/
    visibility: hidden;

    position: absolute;
    left: 25%;
    top: 15vh;
    width: 50%;
    height: 55vh;

    background: var(--bright);
    border: 2px solid var(--strong);
    box-shadow: 0px 10px 13px -7px #000000, 2px 13px 50px -13px #856034;
    padding-inline: 30px;

    color: black;
}

.popup.active {
    visibility: visible;
}

.popup div {
    width: 80%;
    height: 55%;
    overflow-y: auto;
}
.popup .status_tag {
    text-align: center;
    padding: 4px;
    margin: 0
}
.popup .info {
    margin-top: 5px;
    margin-bottom: 20px;
}

.popup .status_tag > span,
.popup .info > span {
    margin-right: 15px;
    white-space: nowrap;
}

.close {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
