body {
    position: relative;
}

.popup-right-click {
    /*Hides pop-up when there is no "active" class*/
    visibility: hidden;

    position: absolute;
    left: 25%;
    top: 15%;
    width: 50%;
    height: 50%;

    background: var(--bright);
    border: 2px solid var(--strong);
    box-shadow: 0px 10px 13px -7px #000000, 2px 13px 50px -13px #856034;
}

.popup-right-click.active {
    visibility: visible;
}

