:root {
    --bright: rgb(255, 230, 188);
    --strong: rgb(142, 128, 106);

    --bg-light: rgb(228, 205, 167);
    --bg-dark: rgb(195, 176, 145);

    --red: rgb(244, 124, 124);
    --yellow: rgb(247, 244, 139);
    --green: rgb(161, 222, 147);
    --blue: rgb(112, 161, 215);
}

html,
body {
    margin: 0px;
    font-family: 'Verdana', serif;

    background-image: radial-gradient(var(--bg-dark) 85%, transparent 85%),
            radial-gradient(var(--bg-light) 85%, transparent 85%);
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;

    color: var(--strong);
}

main {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px;
    max-width: 900px;
}

main h1 {
    text-align: center;
    letter-spacing: 3px;
    background-color: var(--bright);
    padding: 3px;
}

div {
    background-color: var(--bright);
    padding: 10px ;
    margin-block: 5px;

    padding-left: 30px;
    overflow-x: auto;
}

.aprovado {
    background-color: var(--green);
    font-weight: bold;
}

.reprovado {
    background-color: var(--red);
    font-weight: bold;
}

.matriculado {
    background-color: var(--blue);
    font-weight: bold;
}

.equivalencia {
    background-color: var(--yellow);
    font-weight: bold;
}

.outro {
    text-decoration: underline;
    font-weight: bold;
}